<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        #chatContainer{
            border: 1px solid black;
            height: 200px;
            width: 50%;
        }
    </style>
</head>
<body>

    <h1> Chat App</h1>

    <div id="chatContainer">
        <div id="chatDiv">
            <input id="usrMessage" placeholder="Send Message">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</body>

</html>